<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Presentacion</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Poner Imagen  -->
<ion-item>
  <img src="assets/image/mona.webp">
</ion-item>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      Michael Steeven
    </ion-item>
    <ion-item>
      <ion-label>Apellidos:</ion-label>
      Tomala Zamora
    </ion-item>
    <ion-item>
      <ion-label>Edad:</ion-label>
      15 años
    </ion-item>
    <ion-item>
      <ion-label>Carrera:</ion-label>
      Software 2019
    </ion-item>
  </ion-list>
</ion-content>
